macro_purtoesquedge_d: macro_purtoesquedge_d{
compatible = "zmk,behavior-macro";
label = "macro_purtoesquedge_d";
#binding-cells = <0>;
bindings = <&kp LS(P)>, <&kp R>, <&kp O>, <&kp P>, <&kp E>, <&kp L>, <&kp LS(C)>, <&kp H>, <&kp O>, <&kp I>, <&kp C>, <&kp E>, <&kp LS(F)>, <&kp R>, <&kp U>, <&kp I>, <&kp T>, <&kp C>, <&kp A>, <&kp K>, <&kp E>, <&kp LS(N5)>, <&kp LS(N5)>, <&kp N5>, <&kp N6>, <&kp N1>;
};
macro_ca_four: macro_ca_four{
compatible = "zmk,behavior-macro";
label = "macro_ca_four";
#binding-cells = <0>;
bindings = <&kp LC(LA(N4))>;
};
macro_ca_three: macro_ca_three{
compatible = "zmk,behavior-macro";
label = "macro_ca_three";
#binding-cells = <0>;
bindings = <&kp LC(LA(N3))>;
};
macro_ca_two: macro_ca_two{
compatible = "zmk,behavior-macro";
label = "macro_ca_two";
#binding-cells = <0>;
bindings = <&kp LC(LA(N2))>;
};
macro_ca_one: macro_ca_one{
compatible = "zmk,behavior-macro";
label = "macro_ca_one";
#binding-cells = <0>;
bindings = <&kp LC(LA(N1))>;
};
macro_purtoesquedge: macro_purtoesquedge{
compatible = "zmk,behavior-macro";
label = "macro_purtoesquedge";
#binding-cells = <0>;
bindings = <&kp LS(R)>, <&kp O>, <&kp S>, <&kp R>, <&kp D>, <&kp P>, <&kp LS(I)>, <&kp J>, <&kp S>, <&kp G>, <&kp I>, <&kp D>, <&kp LS(Y)>, <&kp O>, <&kp F>, <&kp G>, <&kp K>, <&kp I>, <&kp A>, <&kp V>, <&kp D>, <&kp LS(N5)>, <&kp LS(N5)>, <&kp N5>, <&kp N6>, <&kp N1>;
};
macro_quotes: macro_quotes{
compatible = "zmk,behavior-macro";
label = "macro_quotes";
#binding-cells = <0>;
bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
};
macro_dquotes: macro_dquotes{
compatible = "zmk,behavior-macro";
label = "macro_dquotes";
#binding-cells = <0>;
bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
};
macro_braces: macro_braces{
compatible = "zmk,behavior-macro";
label = "macro_braces";
#binding-cells = <0>;
bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
};
macro_parens: macro_parens{
compatible = "zmk,behavior-macro";
label = "macro_parens";
#binding-cells = <0>;
bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
};
macro_brackets: macro_brackets{
compatible = "zmk,behavior-macro";
label = "macro_brackets";
#binding-cells = <0>;
bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
};
macro_kinesis: macro_kinesis{
compatible = "zmk,behavior-macro";
label = "macro_kinesis";
#binding-cells = <0>;
bindings = <&kp LS(K)>, <&kp I>, <&kp N>, <&kp E>, <&kp S>, <&kp I>, <&kp S>;
};
